---
import Hero from "@/components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SES México." description="SES México empresa de seguridad">
  <main class="px-4">
    <Hero />
    <SectionContainer class="py-44 pb-32">
      <h1 class="text-4xl font-bold text-left text-white/90">
        ¿Quiénes somos?
      </h1>
      <p class="text-white/90 text-pretty">
        Somos una empresa de seguridad privada con más de 20 años de experiencia
        en el mercado, ofreciendo servicios de seguridad privada, custodia de
        valores, seguridad electrónica, monitoreo y rastreo satelital.
      </p>
      <SectionContainer />
    </SectionContainer>
  </main>
</Layout>
