---
import Hero from "@/components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import About from "@/components/About.astro";

import Services from "@/components/Services.astro";
import Banner from "@/components/Banner.astro";
import LogoGrid from "@/components/LogoGrid.astro";
import Stats from "@/components/Stats.astro";
---

<Layout
  title="SES México. "
  description="SES México | Sistemas de Especializados de Seguridad Privada México con presencia en disitntos estados de Baja California 👮🏻 "
>
  <Hero />
  <main class="px-4">
    <SectionContainer class="py-20 pb-32">
      <div class="py-10">
        <div class="max-w-screen-xl mx-auto px-4 md:px-8">
          <h3
            class="font-semibold text-xl lg:text-2xl text-wrap max-w-[750px] text-center text-gray-100"
          >
            Empresas que confian y respaldan nuestros servicios
          </h3>
          <LogoGrid />
        </div>
      </div>
    </SectionContainer>
    <SectionContainer>
      <h3 class="text-gray-100 text-center text-3xl font-semibold sm:text-4xl">
        Nuestros servicios
      </h3>
      <p class="px-4 mt-4 text-lg text-pretty text-center text-gray-300">
        Los servicios están diseñados para brindar la mejor seguridad a nuestros
        clientes.
      </p>
      <Services />
    </SectionContainer>
    <!-- <Banner imageSrc="guardia-seguridad-lugar-trabajo (2).jpg"/> -->
    <SectionContainer>
      <h3
        class="flex-row px-4 text-gray-100 text-3xl font-semibold sm:text-4xl"
      >
        Sobre Nosotros
      </h3>
      <About />
    </SectionContainer>
    <Stats />
    <Banner imageSrc="parque-industrial-edificio-fabrica-almacen (1).jpg" />
    <!-- <Banner imageSrc="guardia-seguridad-lugar-trabajo (2).jpg"/> -->
  </main>
</Layout>
