<section class=" py-16">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-center items-center space-y-8 md:space-y-0 md:space-x-16">
      
        <img src="guardias-seguridad-lugar-trabajo.jpg" alt="Imagen de la empresa" class="rounded-lg shadow-lg">
    
    
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">Nuestra misión</h3>
        <p class="text-gray-700 text-pretty">En Astro Seguridad Privada nos dedicamos a proteger lo que más valoras. Nuestro compromiso es brindar servicios de seguridad de alta calidad para garantizar la tranquilidad de nuestros clientes.</p>
        <h3 class="text-2xl font-semibold text-gray-800 mt-8 mb-4">Nuestros valores</h3>
        <ul class="list-disc text-gray-700 pl-6">
          <li>Profesionalismo</li>
          <li>Integridad</li>
          <li>Responsabilidad</li>
          <li>Confidencialidad</li>
          <li>Excelencia en el servicio</li>
        </ul>
    
    </div>
  </div>
</section>