---

---

<section class="py-14">
  <p class="mt-4 text-lg text-pretty text-gray-400">
    SES MEXICO es una empresa especializada en seguridad privada en México. Ofrece servicios de protección y vigilancia de bienes, centrándose en la seguridad intramuros. 
  </p>
  <p class="mt-4 text-lg text-pretty text-gray-400">
    Su personal de oficiales de seguridad, altamente capacitado, se encarga de garantizar la protección de instalaciones y establecimientos, representando la imagen de las empresas con profesionalismo.
  </p>
  <p class="mt-4 text-lg text-pretty text-gray-400">
   SES MEXICO se destaca por su enfoque en la capacitación continua de su personal y en la implementación de protocolos de seguridad para brindar un servicio de calidad a sus clientes.
  </p>
  <div>
    <img
      src="guardia-seguridad-lugar-trabajo.jpg"
      alt="seguridad"
      class="w-full object-cover mt-4 rounded-2xl"
    />
  </div>
</section>
