
<section>
  <p class="mt-4 text-lg text-pretty text-gray-400">
    Somos una empresa de seguridad privada con más de 20 años de
    experiencia en el mercado, brindando servicios de seguridad privada
    en la Ciudad de México y el Estado de México.
  </p>
  <p class="mt-4 text-lg text-pretty text-gray-400">
    Nuestro compromiso es brindar un servicio de calidad, con personal
    altamente capacitado y con la tecnología más avanzada en seguridad
    privada.
  </p>
  <div>
    <img src="guardia-seguridad-lugar-trabajo.jpg" alt="seguridad" class="w-full h-96 object-cover mt-4 rounded-2xl">
  </div>

</section>