---
import PhoneIcon from "./icons/PhoneIcon.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import LocationIcon from "./icons/LocationIcon.astro";

const ICONS = {
  PHONE: {
    name: "phone",
    class: "text-blue-700",
    icon: PhoneIcon,
  },

  EMAIL: {
    name: "email",
    class: "text-blue-700",
    icon: EmailIcon,
  },

  lOCATION: {
    name: "location",
    class: "text-blue-700",
    icon: LocationIcon,
  },
};
const CONTACT = [
  {
    icons: [ICONS.lOCATION],
    contact: "lorem ipsum",
    title: "Phone",
  },
  {
    icons: [ICONS.lOCATION],
    contact: "lorem ipsum",
    title: "Email",
  },
  {
    icons: [ICONS.lOCATION],
    contact: "lorem ipsum",
    title: "Location",
  },
];
---

<section class="py-14">
  <div class="max-w-screen-lg mx-auto px-4 text-gray-600 md:px-8">
    <div class="max-w-xl space-y-3">
      <h3 class="text-indigo-600 font-semibold">Contacto</h3>
      <p class="text-gray-800 text-3xl font-semibold sm:text-4xl">
        Let us know how we can help
      </p>
      <p>
        We’re here to help and answer any question you might have, We look
        forward to hearing from you .
      </p>
    </div>
    <div class="mt-12">
      <ul
        class="mt-12 flex flex-wrap gap-x-12 gap-y-6 items-center lg:gap-x-24"
      >
        {
          CONTACT.map(({ icons, title, contact }) => (
            <li>
              <h4 class="text-gray-800 text-lg font-medium">
                
                </h4>
              <div class="mt-3 flex items-center gap-x-3">
                <div class="flex-none text-gray-400" />
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
