---
import Abcalum from "@/components/icons/abcalum.astro";
import Medtronic from "@/components/icons/medtronic.astro";
import Fluidraicon from "@/components/icons/fluidraicon.astro";
import TrueblueIcon from "@/components/icons/trueblueIcon.astro";
import Sicon from "@/components/icons/Sicon.astro";
---

<div class="mt-6">
  <ul
    class="flex gap-x-10 gap-y-6 flex-wrap items-center justify-center md:gap-x-16 text-gray-100"
  >
    <li>
      <Abcalum class="w-32 h-32" />
    </li>
    <li>
      <Sicon class="w-32 h-32 text-white" />
    </li>
    <li>
      <Fluidraicon class="w-32 h-32" />
    </li>
    <li>
      <Medtronic class="w-32 h-32" />
    </li>
    <li class="flex">
      <TrueblueIcon class="size-8 text-blue-500" />
      <span class="text-gray-100 px-2 items-center flex"
        >True Blue Manufacturing</span
      >
    </li>
  </ul>
</div>
