---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.jsx";

// Supports weights 300-800
import '@fontsource-variable/open-sans';
interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		
		<Header client:load/>
	
		<div class="absolute inset-0 -z-10 h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {

		font-family:"Open Sans Variable",system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body{
		display: flex;
    flex-direction: column;
    min-height: 100vh;
		margin: 0;
    overscroll-behavior: none;
		background: transparent;
	}

	#header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 100%, 0.1),
        0px 0px 0 1px rgba(0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
	@media (prefers-reduce-motion) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
